@import "../../styles/variables";

.form-wrapper {
  width: 100%;
  padding: 3rem 1.5rem;
}

.form {
  width: 100%;
  max-width: 46rem;
  margin: 0 auto;
  padding: 4rem 3rem;

  background-color: $default-color;
  border-radius: $big-radius;
}

.form__header {
  margin-bottom: 5.4rem;
}

@media screen and (max-width: $screen-sm-tablet) {
  .form__header {
    text-align: center;
  }
}

.form__title {
  margin-bottom: 0.8rem;

  font-weight: bold;
  font-size: 3.4rem;
  line-height: 4.4rem;
}

.form__subtitle {
  font-size: 1.6rem;
  line-height: 2.2rem;

  a {
    color: $primary-color;

    &:hover {
      text-decoration: underline;
    }
  }
}

.form__submit {
  width: 100%;
  padding: 1.4rem;

  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2.1rem;
  color: $light-color;

  background-color: $primary-color;
  border: 2px solid $primary-color;
  border-radius: $def-radius;
  box-shadow: $button-shadow-default;
  cursor: pointer;

  transition: $def-transition;

  &:active,
  &:active:hover {
    border-color: rgba($color: $dark-color, $alpha: 0.86);
    box-shadow: $button-shadow-active;
  }

  &:hover {
    box-shadow: $button-shadow-hover;
  }

  &:disabled {
    color: rgba($color: $dark-color, $alpha: 0.24);

    background-color: $border-color;
    border-color: $border-color;
    box-shadow: $input-shadow-default;
    cursor: auto;
  }
}
