@font-face {
  font-style: normal;
  font-weight: 100;
  font-family: "IBMPlexSans";

  font-display: fallback;
  src: url("../assets/fonts/IBMPlexSans-Thin.eot");
  src: local("☺"),
  url("../assets/fonts/IBMPlexSans-Thin.woff") format("woff"),
  url("../assets/fonts/IBMPlexSans-Thin.ttf") format("truetype"),
  url("../assets/fonts/IBMPlexSans-Thin.svg") format("svg");
}

@font-face {
  font-style: normal;
  font-weight: 200;
  font-family: "IBMPlexSans";

  font-display: fallback;
  src: url("../assets/fonts/IBMPlexSans-ExtraLight.eot");
  src: local("☺"),
  url("../assets/fonts/IBMPlexSans-ExtraLight.woff") format("woff"),
  url("../assets/fonts/IBMPlexSans-ExtraLight.ttf") format("truetype"),
  url("../assets/fonts/IBMPlexSans-ExtraLight.svg") format("svg");
}

@font-face {
  font-style: normal;
  font-weight: 300;
  font-family: "IBMPlexSans";

  font-display: fallback;
  src: url("../assets/fonts/IBMPlexSans-Light.eot");
  src: local("☺"),
  url("../assets/fonts/IBMPlexSans-Light.woff") format("woff"),
  url("../assets/fonts/IBMPlexSans-Light.ttf") format("truetype"),
  url("../assets/fonts/IBMPlexSans-Light.svg") format("svg");
}

@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "IBMPlexSans";

  font-display: fallback;
  src: url("../assets/fonts/IBMPlexSans-Regular.eot");
  src: local("☺"),
  url("../assets/fonts/IBMPlexSans-Regular.woff") format("woff"),
  url("../assets/fonts/IBMPlexSans-Regular.ttf") format("truetype"),
  url("../assets/fonts/IBMPlexSans-Regular.svg") format("svg");
}

@font-face {
  font-style: normal;
  font-weight: 500;
  font-family: "IBMPlexSans";

  font-display: fallback;
  src: url("../assets/fonts/IBMPlexSans-Medium.eot");
  src: local("☺"),
  url("../assets/fonts/IBMPlexSans-Medium.woff") format("woff"),
  url("../assets/fonts/IBMPlexSans-Medium.ttf") format("truetype"),
  url("../assets/fonts/IBMPlexSans-Medium.svg") format("svg");
}

@font-face {
  font-style: normal;
  font-weight: 600;
  font-family: "IBMPlexSans";

  font-display: fallback;
  src: url("../assets/fonts/IBMPlexSans-SemiBold.eot");
  src: local("☺"),
  url("../assets/fonts/IBMPlexSans-SemiBold.woff") format("woff"),
  url("../assets/fonts/IBMPlexSans-SemiBold.ttf") format("truetype"),
  url("../assets/fonts/IBMPlexSans-SemiBold.svg") format("svg");
}

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "IBMPlexSans";

  font-display: fallback;
  src: url("../assets/fonts/IBMPlexSans-Bold.eot");
  src: local("☺"),
  url("../assets/fonts/IBMPlexSans-Bold.woff") format("woff"),
  url("../assets/fonts/IBMPlexSans-Bold.ttf") format("truetype"),
  url("../assets/fonts/IBMPlexSans-Bold.svg") format("svg");
}
